html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f0f0f0;*/
}

#gameContainer {
    width: 100%;
    height: 100%;
    /*background-color: #fff;*/
}

#dashboard-panel {
    /*
    position: absolute;
    left:0;
    height: 100vh;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width:100%;
    */
}

/* General styles for all children */
#dashboard-panel > div {
    flex: 0 0 auto; /* Default flex for all divs */
    width: 33%; /* Adjust this as needed */
    margin:0;
    padding: 0;
}

/* Specific styles for the div that should only use the space it needs */
.upgrade-panel {
    flex: 1 0 0; /* Ensure this div only takes the space it needs */
}


/*
#actionsPanel {
    width: 25%;
    border-left: 1px solid #ccc;
}
*/

#log-container {
    position: absolute;
    width: 20%;
    height: 60vh;
    bottom: 0;
    right: 0;
}

#log-text {
    position: fixed;
    bottom: 0;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

#gameCanvas {
}

.itemInShop {
    border: 1px solid white;
}

#upgrade-panel {
    display: flex;
    height:100%;
    overflow: auto;
}

#upgrade-list{
}

#stats-table {
    text-align: center;
}