body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: black;
    color:white;
}

.left-panel, .right-panel {
    width: 35%;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.left-panel {
    background-color: #dddddd64;
}

.right-panel {
    background-color: #dddddd64;
    overflow: auto;
}

.center-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-panel {
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Specific styles for the div that should only use the space it needs */
.upgrade-panel {
}

#upgrade-panel {
}


/*
#actionsPanel {
    width: 25%;
    border-left: 1px solid #ccc;
}
*/

#log-container {
    /*position: absolute;*/
    display: none;
    width: 20%;
    height: 60vh;
    bottom: 0;
    right: 0;
}

#log-text {
    position: fixed;
    bottom: 0;
    height: 20%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

#gameCanvas {
}

.itemInShop {
    border: 1px solid white;
}

#upgrade-list{
}

#stats-table {
    text-align: center;
    width:100%;
    border-collapse: collapse;
}

#stats-table, #stats-table th, #stats-table td {
    border: 1px solid black;
}

